form(method=form.method(), action=form.action())&attributes(form.attr())
    for field in fields
        | !{field}
    else
        p.error No form fields!
    | !{append}
    input(type='submit',name='submit',value='Submit')